<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cashguard">

    <application
        android:allowBackup="true"
        android:icon="@drawable/cashguard_logo"
        android:label="CashGuard"
        android:roundIcon="@drawable/cashguard_logo"
        android:theme="@style/Theme.CashGuard">

        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity"
            android:exported="false" />

        <activity android:name=".DashboardActivity"
            android:exported="false" />

        <activity android:name=".ProfileActivity"
            android:exported="false" />

        <activity android:name=".ReportsActivity"
            android:exported="false" />

        <activity android:name=".TransactionsActivity"
            android:exported="false" />

        <activity android:name=".HistoryActivity"
            android:exported="false" />

        <activity android:name=".UserProfileActivity"
            android:exported="false" />

        <activity android:name=".TotalSavingsActivity"
            android:exported="false" />

        <activity android:name=".TotalSpendingActivity"
            android:exported="false" />

    </application>

</manifest>